header,
footer {
  background-color: white;
}
header:before,
footer:before,
header:after,
footer:after {
  content: " ";
  display: table;
}
header:after,
footer:after {
  clear: both;
}
header {
  text-align: center;
}
main {
  padding: 150px 0;
  width: 1200px;
  margin: 0 auto;
}
.expand {
  margin: 0;
  height: 0;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}
.edu,
.timeline,
.work {
  float: left;
}
.edu,
.work {
  width: 40%;
}
.timeline {
  width: 20%;
}
section:before,
main:before,
section:after,
main:after {
  content: " ";
  display: table;
}
section:after,
main:after {
  clear: both;
}
section .horizontal {
  height: 400px;
}
section .horizontal:first-of-type {
  margin-top: 500px;
}
