doctype html
html
	head
		meta(charset='utf8')
		title background tryout
		script(src='/libraries/syntaxhighlighter/3/3.0.83/scripts/shCore.js')
		//script(src='/libraries/syntaxhighlighter/3/3.0.83/scripts/shBrushCss.js')
		script(src='/libraries/syntaxhighlighter/3/3.0.83/scripts/shBrushJScript.js')
		//script(src='/libraries/syntaxhighlighter/3/3.0.83/scripts/shBrushPhp.js')
		//script(src='/libraries/syntaxhighlighter/3/3.0.83/scripts/shBrushXml.js')
		//script(src='/libraries/syntaxhighlighter/3/3.0.83/scripts/shBrushPlain.js')

		link(rel='stylesheet' href='/compiled/css/prototypes/background/modules/bg-animation/bg-animation.css')
		link(rel='stylesheet' href='/libraries/syntaxhighlighter/3/3.0.83/styles/shCore.css')
		link(rel='stylesheet' href='/libraries/syntaxhighlighter/3/3.0.83/styles/shThemeMidnight.css')
		script(type="text/javascript")!= 'SyntaxHighlighter.all();'
		style!= "div.syntaxhighlighter{ padding: 20px; box-sizing: border-box;}"
	body
		main
			section(class='placeholder')
				pre(class='brush: js;')
					= "function(){\n\tconsole.log('somethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomethingsomething');\n};"
			section
				- var i = 0, j = 0, n = false, colors = ['#ffffff', '#F92672', '#E6DB74', '#AE81FF', '#66D9EF', '#A6E22E', '#FD971F'], words = ['function', 'object', '{', '}', 'console.log()', 'true', 'alert()', 'literal', 'array', 'if', 'indexOf()', '[]', '$(document)', '&&', '||', '===', '!==', 'console.time()', 'prototype', 'var', 'let', 'else if', 'for', 'while', 'do', 'random', 'floor', 'pow', 'ceil', 'round', 'isNaN', 'length', '<main>', '<section>', '<header>', '<footer>', '<article>', '<aside>', '<figcaption>', '<time>', '<wbr>', '<mark>', '<nav>', '<canvas>', '<svg>', '<audio>', '<embed>', '<video>,', '::selection', '@media']
				while i < 25
					while j < 40
						- var rand = Math.floor ( Math.random() * 30 ), randColor = 'color: ' + colors[Math.floor(Math.random() * colors.length)], randGroup = 'gwc-code-cloud-group-' + Math.floor(Math.random() * 10), randWord = words[Math.floor(Math.random() * words.length)]
						- rand = n ? rand : -(rand)
						- n = !n
						span(class='gwc-code-cloud '+randGroup style=randColor + '; top: ' + ((100 * i) + rand) + 'px; left: ' + ((100 * j) + rand) + 'px;')= randWord
						- j++
					- j = 0
					- i++
